<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net45" />
  <package id="EPPlus" version="7.1.2" targetFramework="net45" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net45" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Selenium.Support" version="4.10.0" targetFramework="net45" />
  <package id="Selenium.UndetectedChromeDriver" version="1.1.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="4.10.0" targetFramework="net45" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net45" />
</packages>